  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <form action="/books" method="GET">
      <form action="/books" method="POST">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="author" placeholder="author">
        <input type="year" name="number" placeholder="year">
        <input type="submit" value="Create New User">
      </form>    
      <input type="text" name="böcker" placeholder="books">
      <button>Submit</button>
    </form>
    <script src="register.ejs"></script>

  </body>
  </html>
