<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>
<body>
    <!-- Registration form -->
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="repeatPassword" placeholder="repeat password">
        <input type="submit" value="Register">
    </form>
    <script src="login.ejs"></script>

</body>
</html>