<!DOCTYPE html>
<html class="register" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skapa konto</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="box">
<h2>Skapa ett konto</h2>
<form action="/register" method="POST">
  <div class="inputBox">
    <input type="text" id="name" name="name" required>
    <label>Namn</label>
  </div>
  <div class="inputBox">
    <input type="email" id="email" name="email" required>
    <label>Emajl</label>
  </div>
  <div class="inputBox">
    <input type="password" id="password" name="password" required>
    <label>Lösenord</label>
  </div>
  <button type="submit">Gå </button>
  <p>Eller <a href="/login">logga in</a></p>
</form>
</div>
</body>
</html>